/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*            Brand Colors             */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@import './colors/tomato.css';
@import './colors/red.css';
@import './colors/ruby.css';
@import './colors/crimson.css';
@import './colors/pink.css';
@import './colors/plum.css';
@import './colors/purple.css';
@import './colors/violet.css';
@import './colors/iris.css';
@import './colors/indigo.css';
@import './colors/blue.css';
@import './colors/cyan.css';
@import './colors/teal.css';
@import './colors/jade.css';
@import './colors/green.css';
@import './colors/grass.css';
@import './colors/orange.css';
@import './colors/brown.css';
@import './colors/sky.css';
@import './colors/mint.css';
@import './colors/lime.css';
@import './colors/yellow.css';
@import './colors/amber.css';
@import './colors/gold.css';
@import './colors/bronze.css';

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*            Gray Colors              */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@import './colors/gray.css';
@import './colors/mauve.css';
@import './colors/slate.css';
@import './colors/sage.css';
@import './colors/olive.css';
@import './colors/sand.css';

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*            Alpha Colors             */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/white-alpha.css';

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*           Semantic colors           */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

:where(.radix-themes) {
  --color-background: white;
  --color-overlay: var(--black-a6);
  --color-panel-solid: white;
  --color-panel-translucent: rgba(255, 255, 255, 0.8);
  --color-surface: rgba(255, 255, 255, 0.9);
}
:is(.dark, .dark-theme),
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: var(--gray-1);
  --color-overlay: var(--black-a8);
  --color-panel-solid: var(--gray-2);
  --color-panel-translucent: var(--gray-2-translucent);
  --color-surface: rgba(0, 0, 0, 0.25);
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*            Transparency             */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

/* Because Chrome is buggy with box-shadow transitions from "transparent" keyword and/or RGB color into P3 colors. */
/* Note: using `:where` here to guarantee that the P3 color will take over regardless of the output rule order. */
:where(.radix-themes) {
  --color-transparent: rgb(0 0 0 / 0);
}
@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .radix-themes {
      --color-transparent: color(display-p3 0 0 0 / 0);
    }
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*            Color scheme             */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

/*
 * Make sure that forced light/dark appearance also sets corresponding browser colors,
 * like input autofill color and body scrollbar
 */
.radix-themes:where(.light, .light-theme) {
  &,
  :root:where(:has(&[data-is-root-theme='true'])) {
    color-scheme: light;
  }
}
.radix-themes:where(.dark, .dark-theme) {
  &,
  :root:where(:has(&[data-is-root-theme='true'])) {
    color-scheme: dark;
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*   Focus, selection, and autofill    */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

.radix-themes,
[data-accent-color]:where(:not([data-accent-color='gray'])) {
  --focus-1: var(--accent-1);
  --focus-2: var(--accent-2);
  --focus-3: var(--accent-3);
  --focus-4: var(--accent-4);
  --focus-5: var(--accent-5);
  --focus-6: var(--accent-6);
  --focus-7: var(--accent-7);
  --focus-8: var(--accent-8);
  --focus-9: var(--accent-9);
  --focus-10: var(--accent-10);
  --focus-11: var(--accent-11);
  --focus-12: var(--accent-12);

  --focus-a1: var(--accent-a1);
  --focus-a2: var(--accent-a2);
  --focus-a3: var(--accent-a3);
  --focus-a4: var(--accent-a4);
  --focus-a5: var(--accent-a5);
  --focus-a6: var(--accent-a6);
  --focus-a7: var(--accent-a7);
  --focus-a8: var(--accent-a8);
  --focus-a9: var(--accent-a9);
  --focus-a10: var(--accent-a10);
  --focus-a11: var(--accent-a11);
  --focus-a12: var(--accent-a12);
}

.radix-themes ::selection {
  background-color: var(--focus-a5);
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*         Background and text         */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

.radix-themes {
  color: var(--gray-12);

  &:where([data-has-background='true']) {
    background-color: var(--color-background);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*          Panel background           */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

.radix-themes {
  &:where([data-panel-background='solid']) {
    --color-panel: var(--color-panel-solid);
  }
  &:where([data-panel-background='translucent']) {
    --color-panel: var(--color-panel-translucent);
  }
}
